<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.css>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="ui text container">
      <div class="ui grid row " style="margin-bottom: 10px">
        <div class="one wide column">
          <img src="http://icons.iconarchive.com/icons/raindropmemory/down-to-earth/64/G12-Book-3-icon.png" alt="W3Schools.com" width="42" height="42">
        </div>
        <div class="seven wide column">
          <h1>Quotes of the day</h1>
        </div>
      </div>
      <div class="ui grid row piled segment very padded ">
        <h2><%= quotes %></h2><br>
        <p><i class="write icon"></i> <%= author %></p>
      </div>
    </div>
  </body>
</html>
